@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "NanumSquare";
  src: url("/fonts/NanumSquareR.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquare";
  src: url("/fonts/NanumSquareB.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "NanumSquare", sans-serif;
}
